@media only screen and (min-width: 992px) {
    // and (max-width: 1199px)
    .title {
        width: 20% !important;
    }

    .tailleNom {
        font-size: 6em !important;
    }

    .tailleMetier {
        font-size: 3em !important;
    }
}