// Variables tablette de couleurs
$darkGrey: #0A0A0A;
$grey: #3a3837;
$deepPink: #FF008A;
$redCrayola:  #EB0046;
$deepPinkWithOpactity: rgba(255,0,138,0.5);
$redCrayolaWithOpacity: rgba(235,0,70,0.5);


// Police
@font-face {
    font-family: "Anton-Regular";
    src: url("font/anton/Anton-Regular.ttf");
}
  
body {
    margin: 0;
    background-color: white;
    font-family: "Anton-Regular",Arial, Verdana, sans-serif !important;
}

.fontArial {
    font-family: Arial !important;
}
  
.heroImage {
    background-image: url("../images/desk2.jpg");
    background-color: black !important;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgLinear {
    background: linear-gradient(180deg, #0E0E0E 0%, rgba(0, 0, 0, 0) 100%), url(desk2.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.textDeepPink {
    color: $deepPink;
}

.bgGradient {
    background: -webkit-linear-gradient($redCrayola, $deepPink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tailleNom {
    font-size: 5em !important;
}
  
.tailleMetier {
    font-size: 3em !important;
}

.titleSection {
    font-size: 3em !important;
}

.underline {
    height: 4px;
    width: 5%;
    background: linear-gradient(315deg, $deepPink 0%, $redCrayola 75%);
}

li {
    list-style: none;
}

.customBtn {
    border: 3px solid !important;
    border-image: linear-gradient(315deg, $deepPink 0%, $redCrayola75%) 1 !important;    
    &:hover {
        background: linear-gradient(315deg, $deepPink 0%, $redCrayola 75%);
    }
}

.textBtn:hover {
    color: white;
}

.bgGrey {
    background-color: $grey;
}

.borderCard {
    border-width: medium !important;
    border-image: linear-gradient(315deg, $deepPinkWithOpactity 0%, $redCrayolaWithOpacity 75%) 1 !important;    
    &:hover {
        border-image: linear-gradient(315deg, $deepPink 0%, $redCrayola 75%) 1 !important;    
    }
    h4:hover {
        color: #FF008A !important;
    }
  
}






//   animation chevrons
$base: 0.6rem;

.container-chevrons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
    }

@keyframes move-chevron {
    25% {
      opacity: 1;
        }
    33.3% {
      opacity: 1;
      transform: translateY($base * 3.8);
    }
    66.6% {
      opacity: 1;
      transform: translateY($base * 5.2);
    }
    100% {
      opacity: 0;
      transform: translateY($base * 8) scale(0.5);
    }
}

.bgDarkGrey {
    background-color: $darkGrey;
}

.linkGradient:hover {
    background: -webkit-linear-gradient($redCrayola, $deepPink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




 
   
@import "./laptop";